.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.img {
  width: 100%;
  height: 600px;
  object-fit: contain;
  animation: move 2s infinite ease alternate;
}

@keyframes move {
    from {
        transform: translateY(-15px);
    }
    to {
        transform: translateY(0px);
    }
}

.title {
  font-size: 72px;
  font-weight: bold;
  background: linear-gradient(to bottom, #53c28b, #08412b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  font-size: 22px;
  font-weight: 300;
}